# Practica 01
practica01/multas/node_modules/
practica01/multas/dist/

# Practica 02
practica02/mostrador/node_modules/
practica02/mostrador/dist/

# Practica 03
practica03/Biblioteca/node_modules/
practica03/Biblioteca/dist/

# Practica 04
practica04/Biblioteca/node_modules/
practica04/Biblioteca/dist/

# Practica 05
practica05/gimnasio-api/node_modules/
practica05/gimnasio-api/dist/

# Practica 06
practica06/gimnasio-api/node_modules/
practica06/gimnasio-api/dist/